*{
  margin: 0;
  padding: 0;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}
.container-info {
  background-image:url('https://images.unsplash.com/photo-1627845774160-414150ae20cc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 760px;
}
.container-info h1{
  margin-top: 50px;
  text-align: center;
  color: white;
}
.container-info h2{
  color: white
}
.container-main h1{
  margin-top: 50px;
  text-align: center;
}
  @media (min-width: 768px) {
    .container-info {
      float: left;
      /*position: fixed;*/
      left: 0;
      top: 0;
      height: 100%;
      width: 50%; } }



.container-main {
  background-image: url('https://images.unsplash.com/photo-1627840237583-d7112d9f9393?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 760px;
  background-color: grey; }
  @media (min-width: 768px) {
    .container-main {
      float: right;
      /*position: fixed;*/
      right: 0;
      top: 0;
      height: 100%;
      width: 50%; } }



.
